:host {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content auto;

    gap: 8px;
    padding: 10px 0;

    &:focus {
        --outline-type: none;
    }

    .loading-skeleton {
        grid-column: 1/-1;
    }
}
