<app-vote-bar
    *ngIf="internalComment"
    [voteTo]="internalComment"
    #voter
    (downvote)="downvote()"
    (upvote)="upvote()"
    (clearVote)="clearVote()"
>
</app-vote-bar>

<div class="loading-skeleton" *ngIf="!internalComment">
    <ion-spinner name="dots"></ion-spinner>
</div>

<main *ngIf="internalComment">
    <app-inline-profile [profile]="internalComment"></app-inline-profile>
    <app-render-content
        [content]="internalComment.body"
        [links]="internalComment.links"
    ></app-render-content>
    <ion-img
        *ngIf="internalComment.attached_image"
        src="{{ internalComment.attached_image.url }}"
    ></ion-img>
</main>
