$offset: 0.16ch;
$line-height: 1.3em;

app-render-content {
    line-height: $line-height;

    white-space: pre-wrap;
    word-break: break-word;
    hyphens: auto;

    p {
        margin: 0;

        &:not(:last-of-type) {
            margin-bottom: $line-height;
        }
    }

    a {
        position: relative;
        color: var(--ion-color-primary);
    }

    .mention-link {
        text-decoration: none;
        margin: $offset;
        line-height: 1.6;

        &::after {
            content: '';
            position: absolute;
            top: -$offset;
            left: -($offset * 2.4);
            right: -($offset * 2.4);
            bottom: -$offset;
            background-color: var(--ion-color-primary);
            opacity: 0.12;
            border-radius: 8px;
        }
    }
}
