<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false" fill="outline" *ngIf="devrant.isSignedIn" (click)="onLogout($event)">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-profile [userId]="userId" *ngIf="isSignedIn"></app-profile>

<ion-content [fullscreen]="true" *ngIf="!isSignedIn">
  <app-center-content>
    Sign in to view your profile.
    <ion-buttons>
      <ion-button fill="outline" (click)="showSignIn()">Sign In</ion-button>
      &nbsp; or
      <ion-button (click)="showSignUp()">Sign Up</ion-button>
    </ion-buttons>
  </app-center-content>
</ion-content>