:host {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content auto;

    gap: 8px;
    padding: 10px 0;
}

:host(.rant-small) {
    grid-template-columns: auto;
}

.rant {
    &.rant-cutoff {
        ion-img {
            width: 100%;
            height: 260px;
            object-fit: cover;
        }

        > app-render-content {
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;
            max-height: 7.9em;
        }
    }

    app-render-content {
        flex: 1;
    }

    footer {
        display: grid;
        grid-template-columns: auto min-content;
    }

    &-comment-count {
        place-self: end;

        display: grid;
        grid-auto-flow: column;
        gap: 0.5ch;
    }

    &-tags-container {
        --margin: 3px;

        display: flex;
        width: 100%;
        flex-flow: row wrap;

        margin: 0 calc(var(--margin) * -1);

        > ion-badge {
            margin: var(--margin);
            border-radius: 3px;
        }
    }
}
