<ion-header [translucent]="true">
    <ion-toolbar>
        <span>
            <ion-title>Notifications</ion-title>
        </span>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-refresher
        slot="fixed"
        (ionRefresh)="pushNotificationUpdateRequest($event)"
        *ngIf="notifications"
    >
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <app-center-content failed="true" *ngIf="hasErrors">
        Unable to fetch notifications.
    </app-center-content>

    <app-center-content *ngIf="!devrant.isSignedIn">
        Sign in to view your notifications.
        <ion-buttons>
            <ion-button fill="outline" routerLink="/tab/profile"
                >Go to Profile tab</ion-button
            >
        </ion-buttons>
    </app-center-content>

    <ion-list *ngIf="notifications">
        <ion-item disabled *ngIf="!notifications">No notifications!</ion-item>

        <ion-virtual-scroll [items]="notifications">
            <ion-item
                *virtualItem="let notif"
                [class.is-read]="notif.read"
                [class.is-unread]="!notif.read"
                routerLink="/rant/{{notif.rant_id}}"
                fragment="{{notif.comment_id}}"
                [ngSwitch]="notif.type"
            >
                <div>
                    <ng-container *ngSwitchCase="'comment_discuss'">
                        <app-notif-user-line
                            [user]="remapToProfile(notif.uid)"
                            [time]="notif.created_time"
                        >
                            commentented on a rant you commented on!
                        </app-notif-user-line>
                        <app-rant
                            [small]="true"
                            [showVotebar]="true"
                            [rantId]="notif.rant_id"
                        ></app-rant>
                    </ng-container>
                    <ng-container *ngSwitchCase="'content_vote'">
                        <app-notif-user-line
                            [user]="remapToProfile(notif.uid)"
                            [time]="notif.created_time"
                        >
                            ++'ed your rant!
                        </app-notif-user-line>
                        <app-notif-user-line
                            [user]="remapToProfile(notif.uid)"
                            [time]="notif.created_time"
                        ></app-notif-user-line>
                        <app-rant
                            [small]="true"
                            [showVotebar]="true"
                            [rantId]="notif.rant_id"
                        ></app-rant>
                    </ng-container>
                    <ng-container *ngSwitchCase="'rant_sub'">
                        <h3>New Rant from your subscripted users!</h3>
                        <app-rant
                            [showUser]="true"
                            [rantId]="notif.rant_id"
                        ></app-rant>
                    </ng-container>
                    <ng-container *ngSwitchCase="'comment_content'">
                        <h3>Comment on your Rant</h3>
                        <app-rant-comment
                            [commentId]="notif.comment_id"
                        ></app-rant-comment>
                    </ng-container>
                    <ng-container *ngSwitchCase="'comment_mention'">
                        <app-notif-user-line
                            [user]="remapToProfile(notif.uid)"
                            [time]="notif.created_time"
                        >
                            mentioned you in a comment!
                        </app-notif-user-line>
                        <app-rant-comment
                            [commentId]="notif.comment_id"
                        ></app-rant-comment>
                    </ng-container>
                    <ng-container *ngSwitchCase="'comment_vote'">
                        <app-notif-user-line
                            [user]="remapToProfile(notif.uid)"
                            [time]="notif.created_time"
                        >
                            ++'ed your comment!
                        </app-notif-user-line>
                        <app-rant-comment
                            [commentId]="notif.comment_id"
                        ></app-rant-comment>
                    </ng-container>
                </div>
            </ion-item>
        </ion-virtual-scroll>
    </ion-list>
</ion-content>
