<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Settings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Settings</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-list>
        <ion-item-group>
            <ion-item detail routerLink="/about">About</ion-item>
        </ion-item-group>
        <ion-item-group>
            <ion-item button (click)="showLightnessSheet()">
                Appearance
            </ion-item>
            <ion-item button (click)="showAccentSheet()">Accent</ion-item>
            <ion-item button>Special Theme</ion-item>
        </ion-item-group>
        <ion-item-group>
            <ion-item detail routerLink="./notifs">Notifications</ion-item>
        </ion-item-group>
    </ion-list>
</ion-content>
