.app-info {
    position: absolute;
    z-index: 11;

    right: 0;
    bottom: 0;

    opacity: 0.2;
    padding: 1ch;

    font-size: 10px;
    font-family: monospace;
    pointer-events: none;
}

.unofficial {
    font-weight: 400;
    opacity: 0.3;
}

ion-infinite-scroll {
    margin-top: 32px;
}

ion-segment {
    z-index: 2;

    &.md {
        position: sticky;
        top: 0;

        --background: var(
            --ion-toolbar-background,
            var(--ion-background-color, #fff)
        );
    }

    &.ios {
        position: absolute;
        min-height: 35px;
        bottom: 20px;
        width: 80%;
        left: 10%;

        backdrop-filter: blur(20px);
        box-shadow: 0 0 5px -3px black;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--ion-background-color);
            opacity: 0.7;
            z-index: -2;
        }

        @media (prefers-color-scheme: dark) {
            backdrop-filter: blur(20px) brightness(0.3);

            &::after {
                opacity: 0.2;
            }
        }
    }
}
