@import 'functions';

$devrant-red: hsl(353, 61%, 58%);
$devrant-red-shade: hsl(353, 49%, 52%);

$devrant-orange: hsl(21, 92%, 69%);
$devrant-orange-shade: hsl(21, 74%, 62%);
$devrant-orange-contrast: mix(#e68854, black, 12%);

$devrant-purple-tint: mix(white, #a973a2, 7%);
$devrant-purple: hsl(308, 24%, 56%);
$devrant-purple-shade: hsl(308, 22%, 49%);

$devrant-dark-blue-tint: #5c5c78;
$devrant-dark-blue: #54556e;
$devrant-dark-blue-shade: #40415a;
$devrant-dark-blue-blacked: mix(#40415a, black, 20%);

$devrant-blue: #6bc9cd;
$devrant-turquoise: #2a8b9d;
$devrant-green: #7bc8a4;
$devrant-yellow: #e6c653;

$app-primary-tint: $devrant-yellow;
$app-primary: $devrant-orange;
$app-primary-shade: $devrant-orange-shade;
$app-primary-contrast: $devrant-orange-contrast;

@import 'themes/all';

html.auto-light,
html.theme-light {
    @include light-theme;
}

html.auto-dark,
html.theme-dark {
    @include dark-theme;
}

////
/// Devrant dark
////
html.theme-devrant-dark {
    @include devrant-dark-theme;
}

html.theme-custom {
    @include custom-theme;
}
