@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400&display=swap');

.greetings-alert .alert-wrapper {
    white-space: pre-line;

    &::before,
    &::after {
        content: '';
        height: 15px;
        background: repeating-linear-gradient(
            -45deg,
            red,
            red 15px,
            yellow 15px,
            yellow 31px
        );
    }
}

ion-header[collapse='condense'] {
    ion-buttons {
        padding-bottom: 12px;
    }
}

ion-refresher {
    z-index: 2;
}

ion-toolbar.toolbar-title-default {
    .header-collapse-condense-inactive:not(.header-collapse-condense) & {
        ion-title {
            transform: translateY(25%);
        }
    }
}

ion-app {
    max-width: 770px;
    margin: auto;
}

.loading-skeleton {
    display: grid;
    place-content: center;

    min-height: 160px;

    background: rgba(
        var(--background-rgb, var(--ion-text-color-rgb, 0, 0, 0)),
        0.065
    );

    border-radius: 8px;
}

body {
    &::after {
        content: '';
        position: absolute;

        top: 0;
        left: 0;
        width: 100%;
        height: var(--ion-safe-area-top, 0);

        background-color: var(--app-safe-area-color, var(--ion-background));
    }
}
