<ion-header>
    <ion-toolbar>
        <ion-title>Appearance</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>Lightness</ion-label>
            <ion-select
                (ionChange)="applyTheme($event)"
                [value]="this.configService.scheme"
            >
                <ion-select-option value="auto">Auto</ion-select-option>
                <ion-select-option value="light">Light</ion-select-option>
                <ion-select-option value="dark">Dark</ion-select-option>
                <ion-select-option value="black">Black</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>
</ion-content>
