@import "shared";

$avatar-size: 56px;

:host {
  display: grid;
  gap: 3px 10px;
  grid-template: "image line created" auto/ $avatar-size 1fr auto;

  min-height: 48px;
}

.image {
  @include user-thumbnail($avatar-size);
}

.line {
  padding-right: 20px;

  font-weight: 600;
  line-height: 1;

  grid-row: span 2;
  align-self: center;
}

.username {
  text-decoration: underline;
}

.created {
  opacity: 0.5;
  grid-area: created;

  text-align: right;
  font-size: 16px;

  align-self: center;
}
