@import "shared";

$avatar-size: 48px;

:host {
  display: grid;
  gap: 3px 10px;
  grid-template:
    "image . created" auto
    "image . created" auto/ $avatar-size min-content 1fr auto;

  min-height: 48px;
}

.line {
  font-weight: 500;
  line-height: 1;

  grid-row: span 2;
  align-self: center;
}

.created {
  opacity: 0.5;
  grid-area: created;

  text-align: right;
  font-size: 14px;

  max-width: 70px;
}
