<span class="image" style.--color="#{{ profile.user_avatar.b }}">
    <ion-img
        *ngIf="profile.user_avatar.i"
        [src]="imageUrl(profile.user_avatar.i)"
        (error)="$event.target.className = 'broken'"
    ></ion-img>
</span>
<span
    class="username"
    (click)="noBubble($event)"
    routerLink="/user/{{ profile.user_id }}"
    >{{ profile.user_username }}</span
>
<span class="created">{{ humanReadableTime }}</span>
<span class="score">{{ profile.user_score }}</span>
<span
    class="dpp"
    style.--color="#{{ profile.user_avatar.b }}"
    *ngIf="profile.user_dpp"
    >++</span
>
