%badge {
  position: relative;

  align-self: start;
  justify-self: start;

  padding: 0.35em 0.5em;

  font-size: 14px;
  font-weight: 500;

  line-height: 0.96;
  z-index: 1;

  background-color: var(--color);
  border-radius: 8px;
}

@mixin dpp-badge {
  --color: var(--theme-shade);

  @extend %badge;
}

@mixin score-badge {
  @extend %badge;

  --color: var(--ion-color-light-shade);
  color: var(--ion-color-light-contrast);

  @media (prefers-color-scheme: dark) {
    --color: var(--ion-color-light-tint);
    color: var(--ion-color-light-contrast);
  }

  grid-area: score;
}
