/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

:root body {
    --ion-font-family: 'Nunito', 'Roboto', system-ui;

    font-family: var(--ion-font-family);

    --ion-color-primary: var(--ion-color-primary);
    --ion-color-primary-shade: var(--ion-color-primary-shade);
    --ion-color-primary-tint: var(--ion-color-primary-tint);
    --ion-color-primary-contrast: var(--ion-color-primary-contrast);

    --outline-type: 0 0 0 2px;
}

:focus {
    outline: 0 transparent;
}

.using-keyboard :focus {
    box-shadow: inset var(--outline-type)
        var(--outline-color, var(--ion-color-primary));
    border-radius: var(--outline-radius, 4px);
}

ul,
ol {
    padding-left: 2ch;
}

ion-badge {
    --padding-top: var(--padding-bottom);
    --background: var(--ion-color-primary-shade);
    --color: var(--ion-color-primary-contrast);
}

ion-list.list-ios {
    background: transparent;
}

ion-popover {
    html.ios & {
        .popover-content {
            box-shadow: 0 0 50px #00000026;
        }
    }
}

ion-item-group {
    margin-top: 1em;
    border-top: 1px solid var(--ion-item-border-color);
    border-bottom: 1px solid var(--ion-item-border-color);
}

ion-item:last-of-type {
    --border-style: none;
}

img,
ion-img {
    border-radius: 8px;
    overflow: hidden;

    max-width: 100%;
    height: auto;
}

main {
    display: grid;
    grid-auto-rows: min-content;
    gap: 5px;
}

article {
    word-break: break-word;
    white-space: break-spaces;
}
